{% extends 'email/base.html' %}

{% block title %} Account deactivation and Eviction Notice! {% endblock title %}

{% block content %}
    <h1> Dear {{user.get_full_name}},</h1>
    <p> Your account has been deactivated due to multiple reports(5 incident
        reports) against you by other tenants. </p>
    </strong></p>
    <p> The last report received was :  <strong>{{title}}</strong></p>
    <p><strong>{{description}}</strong></p>
    <p>Continuous instances of feedback to you have fallen on deaf ears.  </p>
     <p> As per the tenancy agreement, you have 30 days to vacate the premises.</p>
     <p> Kindly oblige by the set rules. </p>
     <p>Regards, <br>
    The {{site_name}} Team</p>
{% endblock content %}